[phases.setup]
aptPkgs = [
  "git",
  "curl",
  "python3",
  "python3-pip",
  "ffmpeg",
  "build-essential"
]

[phases.install]
cmds = [
  # Node 20
  "curl -fsSL https://deb.nodesource.com/setup_20.x | bash -",
  "apt-get install -y nodejs",

  # pipx
  "pip install --break-system-packages pipx",
  "pipx ensurepath",

  # bot requirements
  "pip install --break-system-packages -r requirements.txt",

  # remove pip yt-dlp
  "pip uninstall -y yt-dlp || true",

  # install yt-dlp via pipx
  "pipx install yt-dlp[default] || true"
]

[phases.start]
cmd = "export PATH=$PATH:/root/.local/bin && python3 -m Bot"
