[phases.setup]
aptPkgs = [
  "git",
  "curl",
  "python3",
  "python3-pip",
  "python3-dev",
  "ffmpeg",
  "gcc",
  "libffi-dev",
  "build-essential"
]

[phases.install]
cmds = [
  # install python deps directly
  "pip install --break-system-packages AbhiCalls",
  "pip install --break-system-packages YouTubeMusic",
  "pip install --break-system-packages pytz",
  "pip install --break-system-packages motor",
  "pip install --break-system-packages pymongo",
  "pip install --break-system-packages tgcrypto",
  "pip install --break-system-packages pyrofork",
  "pip install --break-system-packages pyrogram",

  # yt-dlp binary (best)
  "curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp",
  "chmod a+rx /usr/local/bin/yt-dlp"
]

[phases.start]
cmd = "python3 -m Bot"
